In [276]:
import pandas as pd
from datetime import datetime, timedelta

In [277]:
T_CONTRACTOR_SHERULER  = pd.read_csv('/content/drive/MyDrive/Elbrus/shedulers.csv', encoding=result['encoding'], sep =';')
T_CONTRACTOR_SHERULER

           ФИО Расписание Дата начала расписания Дата окончания расписания
0  Поставщик 1   дддвсвнн        01.01.2019 0:00           10.01.2019 0:00
1  Поставщик 1     ннвннв        11.01.2019 0:00           15.01.2019 0:00
2  Поставщик 1         св        16.01.2019 0:00           20.01.2019 0:00
3  Поставщик 2     свсвсв        01.01.2019 0:00           07.01.2019 0:00
4  Поставщик 2      днвсв        08.01.2019 0:00           14.01.2019 0:00
5  Поставщик 2    ннддвсв        15.01.2019 0:00           31.12.9999 0:00
6  Поставщик 3     нвнвнв        01.01.2019 0:00           01.02.2019 0:00
7  Поставщик 3   двдвдвдв        02.02.2019 0:00           31.12.9999 0:00

In [278]:
T_CONTRACTOR_SHERULER['Дата начала расписания'] = T_CONTRACTOR_SHERULER['Дата начала расписания'].apply(lambda x: x[:11] + '00:00')
T_CONTRACTOR_SHERULER['Дата окончания расписания'] = T_CONTRACTOR_SHERULER['Дата окончания расписания'].apply(lambda x: x[:11] + '00:00')
T_CONTRACTOR_SHERULER.iloc[5,-1] = '31.12.2019 00:00'
T_CONTRACTOR_SHERULER.iloc[7,-1] = '31.12.2019 00:00'
T_CONTRACTOR_SHERULER

           ФИО Расписание Дата начала расписания Дата окончания расписания
0  Поставщик 1   дддвсвнн       01.01.2019 00:00          10.01.2019 00:00
1  Поставщик 1     ннвннв       11.01.2019 00:00          15.01.2019 00:00
2  Поставщик 1         св       16.01.2019 00:00          20.01.2019 00:00
3  Поставщик 2     свсвсв       01.01.2019 00:00          07.01.2019 00:00
4  Поставщик 2      днвсв       08.01.2019 00:00          14.01.2019 00:00
5  Поставщик 2    ннддвсв       15.01.2019 00:00          31.12.2019 00:00
6  Поставщик 3     нвнвнв       01.01.2019 00:00          01.02.2019 00:00
7  Поставщик 3   двдвдвдв       02.02.2019 00:00          31.12.2019 00:00

In [279]:
T_CONTRACTOR_SHERULER['Дата начала расписания'] = pd.to_datetime(T_CONTRACTOR_SHERULER['Дата начала расписания'], format = "%d.%m.%Y %H:%M")
T_CONTRACTOR_SHERULER['Дата окончания расписания'] = pd.to_datetime(T_CONTRACTOR_SHERULER['Дата окончания расписания'], format = "%d.%m.%Y %H:%M")
T_CONTRACTOR_SHERULER

           ФИО Расписание Дата начала расписания Дата окончания расписания
0  Поставщик 1   дддвсвнн             2019-01-01                2019-01-10
1  Поставщик 1     ннвннв             2019-01-11                2019-01-15
2  Поставщик 1         св             2019-01-16                2019-01-20
3  Поставщик 2     свсвсв             2019-01-01                2019-01-07
4  Поставщик 2      днвсв             2019-01-08                2019-01-14
5  Поставщик 2    ннддвсв             2019-01-15                2019-12-31
6  Поставщик 3     нвнвнв             2019-01-01                2019-02-01
7  Поставщик 3   двдвдвдв             2019-02-02                2019-12-31

In [280]:
T_CONTRACTOR_WORK_DAY = pd.DataFrame(columns=['NAME', 'DATE_BEGIN', 'DATE_END'])
T_CONTRACTOR_WORK_DAY

Empty DataFrame
Columns: [NAME, DATE_BEGIN, DATE_END]
Index: []

In [281]:
count = 0
for i in range(len(T_CONTRACTOR_SHERULER)):
    curent_day = (T_CONTRACTOR_SHERULER.iloc[i,3] - T_CONTRACTOR_SHERULER.iloc[i,2]).days
    open = (T_CONTRACTOR_SHERULER.iloc[i,2])
    while curent_day > 0:
        for j in range(len(T_CONTRACTOR_SHERULER.iloc[i,1])):
            day = T_CONTRACTOR_SHERULER.iloc[i,1]
            if day[j] == 'д':
                T_CONTRACTOR_WORK_DAY.loc[count] = ([T_CONTRACTOR_SHERULER.iloc[i,0], open + timedelta(hours=8), open + timedelta(hours=20)])
                curent_day -= 1
                open += timedelta(days=1)
            if day[j] == 'в':
                curent_day -= 1
                open += timedelta(days=1)
            if day[j] == 'с':
                T_CONTRACTOR_WORK_DAY.loc[count] = ([T_CONTRACTOR_SHERULER.iloc[i,0], open + timedelta(hours=8), open + timedelta(days=1) + timedelta(hours=8)])
                curent_day -= 1
                open += timedelta(days=1)
            if day[j] == 'н':
                T_CONTRACTOR_WORK_DAY.loc[count] = ([T_CONTRACTOR_SHERULER.iloc[i,0], open + timedelta(hours=20), open + timedelta(days=1) + timedelta(hours=8)])
                curent_day -= 1
                open += timedelta(days=1)
            count += 1
T_CONTRACTOR_WORK_DAY.reset_index(drop=True, inplace=True)

In [282]:
T_CONTRACTOR_WORK_DAY

            NAME          DATE_BEGIN            DATE_END
0    Поставщик 1 2019-01-01 08:00:00 2019-01-01 20:00:00
1    Поставщик 1 2019-01-02 08:00:00 2019-01-02 20:00:00
2    Поставщик 1 2019-01-03 08:00:00 2019-01-03 20:00:00
3    Поставщик 1 2019-01-05 08:00:00 2019-01-06 08:00:00
4    Поставщик 1 2019-01-07 20:00:00 2019-01-08 08:00:00
..           ...                 ...                 ...
458  Поставщик 3 2019-12-25 08:00:00 2019-12-25 20:00:00
459  Поставщик 3 2019-12-27 08:00:00 2019-12-27 20:00:00
460  Поставщик 3 2019-12-29 08:00:00 2019-12-29 20:00:00
461  Поставщик 3 2019-12-31 08:00:00 2019-12-31 20:00:00
462  Поставщик 3 2020-01-02 08:00:00 2020-01-02 20:00:00

[463 rows x 3 columns]

In [283]:
T_CONTRACTOR_WORK_DAY.NAME.value_counts()

Поставщик 2    259
Поставщик 3    186
Поставщик 1     18
Name: NAME, dtype: int64

In [284]:
T_CONTRACTOR_WORK_DAY[(T_CONTRACTOR_WORK_DAY['DATE_BEGIN'] >= '2019-01-01')&(T_CONTRACTOR_WORK_DAY['DATE_BEGIN'] < '2019-02-01')].NAME.value_counts()[T_CONTRACTOR_WORK_DAY[(T_CONTRACTOR_WORK_DAY['DATE_BEGIN'] >= '2019-01-01')&(T_CONTRACTOR_WORK_DAY['DATE_BEGIN'] < '2019-02-01')].NAME.value_counts()>10]

Поставщик 2    22
Поставщик 1    18
Поставщик 3    16
Name: NAME, dtype: int64

In [285]:
T_CONTRACTOR_WORK_DAY[(T_CONTRACTOR_WORK_DAY['DATE_BEGIN'] >= '2019-01-14')&(T_CONTRACTOR_WORK_DAY['DATE_BEGIN'] < '2019-01-17')]

            NAME          DATE_BEGIN            DATE_END
10   Поставщик 1 2019-01-15 20:00:00 2019-01-16 08:00:00
11   Поставщик 1 2019-01-16 20:00:00 2019-01-17 08:00:00
14   Поставщик 1 2019-01-14 20:00:00 2019-01-15 08:00:00
15   Поставщик 1 2019-01-15 20:00:00 2019-01-16 08:00:00
16   Поставщик 1 2019-01-16 08:00:00 2019-01-17 08:00:00
25   Поставщик 2 2019-01-14 20:00:00 2019-01-15 08:00:00
26   Поставщик 2 2019-01-16 08:00:00 2019-01-17 08:00:00
27   Поставщик 2 2019-01-15 20:00:00 2019-01-16 08:00:00
28   Поставщик 2 2019-01-16 20:00:00 2019-01-17 08:00:00
284  Поставщик 3 2019-01-15 20:00:00 2019-01-16 08:00:00